.stepCard {
  color: var(--Dark-Blue, #00112d);
  max-width: 360px;
  display: flex;
  &__number {
    color: rgba(0, 17, 45, 0.2);
    font-size: 58px;
    font-weight: 700;
    line-height: 100%; /* 58px */
    margin-right: 30px;
  }
  &__info {
  }
  &__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 100%; /* 28px */
    margin-bottom: 20px;
  }
  &__text {
    font-size: 16px;
    line-height: 150%; /* 24px */
  }
}
