.hero {
  min-height: calc(100vh - 80px);
  background: var(
    --BG_Linear,
    linear-gradient(98deg, #000922 -32.18%, #002252 92.59%)
  );
  color: #fff;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/hero-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__wrapper {
    position: relative;
    z-index: 1;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__content {
    max-width: 650px;
  }
  &__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    margin-bottom: 30px;
    span {
      color: var(--Green, #76fcab);
    }
  }
  &__subtitle {
    line-height: 120%; /* 24px */
    margin-bottom: 60px;
    max-width: 380px;
  }
  &__buttons {
    display: flex;
    gap: 30px;
    svg {
      margin-left: 10px;
    }
  }
}
